<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-fHQYhH3LHGMuPO7kFR7gv5D2wo1N360</string>
	<key>GCM_SENDER_ID</key>
	<string>484573977031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.johnnyjjsl.musicChat</string>
	<key>PROJECT_ID</key>
	<string>musicchat-fd0af</string>
	<key>STORAGE_BUCKET</key>
	<string>musicchat-fd0af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484573977031:ios:5e7d485cf47306bcaee1e2</string>
</dict>
</plist>